	.classify {
		background: #CDC5BF;
		padding: 7px 7px 7px 7px;
		margin-top: 5px;
	}

	.classify .class {
		background: #FFFFFF;
		margin-bottom: 10px;
	}

	.classify .class .head ul {
		overflow: hidden;
		margin: auto;
	}

	.classify .class .head ul li {
		float: left;
		width: 33.3%;
		box-sizing: border-box;
		text-align: center;
		border-style: ridge;
		border-width: 1px;
		height: 90px;
		font-size: 12px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.classify .class .head ul li a {
		color: #050505;
	}

	.classify .class .head ul li a div {
		padding-bottom: 15px;
	}

	.classify .class .head ul li a div i {
		border: 1px solid;
		border-radius: 25px;
		border-color: #FFFFFF;
		font-size: 12px;
		color: #FFFFFF;
		padding: 10px 10px 10px 10px;
		margin-bottom: 10px;
	}

	.classify .apply {
		position: relative;
		background: #FFFFFF;
		padding: 20px 10px 10px 40px;
	}

	.classify .apply .pic {
		position: absolute;
		left: 10px;
		top: 20px;
	}

	.classify .apply .pic img {
		width: 20px;
	}

	.classify .apply .titm {
		border-bottom-style: ridge;
		border-bottom-width: 1px;
		height: 40px;
	}

	.classify .apply .titm .con {
		color: #CDC5BF;
		font-size: 12px;
	}

	.classify .apply .picture {
		position: absolute;
		right: 30px;
		top: 10px;
	}

	.classify .apply .picture img {
		width: 35px;
	}

	.classify .apply .print {
		position: absolute;
		right: 10px;
		top: 18px;
	}

	.classify .apply .print img {
		width: 15px;
	}

	.classify .apply .con {
		position: absolute;
		right: 70px;
		top: 22px;
	}