.indiv {
    background: #CDC5BF;
    padding: 7px 7px 7px 7px
}

.indiv .head {
    position: relative;
    background: #FFFFFF;
}

.indiv .head .pic {
    position: absolute;
    left: 10px;
    top: 20px;
}

.indiv .head .pic img {
    width: 60px;
    border-radius: 50%;
}

.indiv .head .titl {
    padding: 30px 80px;
}

.indiv .head .titl .con {
    color: #CDC5BF;
    font-size: 12px;
}

.indiv .head .arrow {
    position: absolute;
    right: 5px;
    top: 40px;
}

.indiv .head ul {
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
}

.indiv .head ul li {
    float: left;
    width: 33.3%;
    height: 27px;
    font-size: 12px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
}

.indiv .nav {
    background: #FFFFFF;
    margin-top: 10px
}

.indiv .nav ul {
    overflow: hidden;
    text-align: center;
}

.indiv .nav ul li {
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    text-align: center;
    border-style: ridge;
    border-width: 1px;
    height: 90px;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.indiv .nav ul li div {
    padding-bottom: 10px;
}

.indiv .nav ul li div i {
    border-color: #FFFFFF;
    font-size: 30px;
    color: #FFFFFF;
    padding: 5px 5px 5px 5px;
    border-radius: 50%;
}

.indiv .wallet {
    background: #FFFFFF;
    margin-top: 10px;
}

.indiv .wallet .walle {
    padding: 10px 10px 10px 10px;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
    height: 15px;
}

.indiv .wallet .coin {
    position: relative;
}

.indiv .wallet .coi {
    position: absolute;
    left: 10px;
    top: 12px;
}

.indiv .wallet .coi i {
    color: #CDC5BF;
    font-size: 20px;
}

.indiv .wallet .coin .titm {
    position: relative;
    padding: 15px 10px 15px 0px;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
    height: 20px;
    margin-left: 40px;
    margin-right: 10px;
}

.indiv .wallet .coin .titm .arrow {
    position: absolute;
    right: -10px;
    top: 10px;
}

.indiv .wallet .coin .titm .money {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #FF7F00;
}