.class {
    position: relative;
}

.class .pic {
    position: absolute;
    left: 20px;
    top: 18px;
}

.class .pic i {
    width: 20px;
    border-radius: 25px;
    font-size: 12px;
    padding: 7px 7px 7px 7px;
    color: #FFFFFF;
}

.class .pic img {
    width: 20px;
    border-radius: 25px;
    font-size: 1px;
    padding: 7px 7px 7px 7px;
    background: #EE7600
}

.class .titl {
    padding: 20px 10px 10px 55px;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
    height: 25px;
}

.class .arrow {
    position: absolute;
    right: 5px;
    top: 20px;
    color: #ADADAD;
}