	.collect {
	    padding: 0 10px;
	}

	.collect div {
	    padding-bottom: 25px;
	}

	.collect div .content {
	    border: 1px solid #C6E2FF;
	    border-radius: 5px;
	    background: #C6E2FF;
	    font-size: 12px;
	    padding: 10px 10px 10px 10px;
	}

	.collect div .con {
	    border: 1px solid #EEDC82;
	    border-radius: 5px;
	    background: #EEDC82;
	    font-size: 12px;
	    padding: 10px 10px 10px 10px;
	}

	.collect div .tit {
	    border: 1px solid #98FB98;
	    border-radius: 5px;
	    background: #98FB98;
	    font-size: 12px;
	    padding: 10px 10px 10px 10px;
	}

	.collect .titm {
	    border-bottom-style: ridge;
	    border-bottom-width: 1px;
	    height: 0px;
	    font-size: 12px;
	    margin-bottom: 15px;
	}

	.collect .title {
	    padding-bottom: 10px
	}

	.collect .title span {
	    padding-right: 30px;
	    font-size: 12px;
	    color: #3B3B3B;
	}