header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
   background: #363636;
    z-index:1;

}
.return {
    position: relative;
    background: #363636;
    padding: 10px 0px 10px 30px;
}

.return i {
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: 20px;
    color: snow;
}

.return a {
    color: snow;
}

.return .titm {
    color: snow;
    font-size: 15px;
}

.search i {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    color: snow;
}

.recharge {
    margin-top: 37px;
    text-align: center;
    padding: 20px 0px;
    background: #00EE00;
}

.recharge h1 {
    color: linen;
}

.recharge div {
    padding: 10px 0px 40px 0px;
    color: snow;
}

.recharge p {
    border: 1px solid floralwhite;
    border-radius: 15px;
    margin: 0px 110px 0px 110px;
    padding: 10px 10px;
    color: snow;
}

.activity {
    padding: 20px 40px 20px 40px;
    color: floralwhite;
    background: #B23AEE;
}

.activity div {
    margin: 5px 0px;
}

.activit {
    text-align: center;
    margin: 30px 0px;
}

.activit .titm {
    font-size: 12px;
    color: darksalmon;
}

.activit .con {
    color: firebrick;
    font-size: 12px;
    margin: 5px;
}