header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1;
}

.return {
    position: relative;
    background: #363636;
    padding: 10px 0px 10px 30px;
}

.return i {
    position: absolute;
    left: 10px;
    top: 8px;
    font-size: 20px;
    color: snow;
}

.return .titm {
    color: snow;
    font-size: 15px;
}

.search i {
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 20px;
    color: snow;
}

.nav {
    overflow: hidden;
    margin: auto;
    background: #080808;
}

.nav li {
    float: left;
    width: 25%;
    text-align: center;
}

.nav li .on {
    border-radius: 10px;
    color: snow;
    border-bottom: 2px solid fuchsia;
    background: fuchsia;
    display: block;
    padding: 5px 0px;
    margin: 5px 10px
}

.nav li a {
    position: relative;
    color: #CDCDC1;
    display: block;
    padding: 5px 0px;
    margin: 5px 10px;
}

.nav li a::after {
    content: "";
    position: absolute;
    top: 6px;
    right: -10px;
    bottom: 6px;
    border-right: 1px solid snow;
}

.nav li:last-of-type a::after {
    display: none;
}

.rec {
    margin-top: 75px;
    padding: 5px 5px 0px 5px;
}

.rec .picture img {
    width: 100%;
}

.print div {
    overflow: hidden;
    padding: 0px 3px 0px 6px;
}

.print div a {
    float: left;
    width: 50%;
}

.print div a img {
    width: 99%;
    height: 100px
}

.navi {
    overflow: hidden;
    padding: 0px 3px;
}

.navi li {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 12px;
    border: 1px solid honeydew;
    box-sizing: border-box;
    height: 65px;
    padding: 15px 0px;
    background: springgreen;
}

.navi li a {
    color: snow;
}

.navi li a div {
    padding: 2px 0px;
}

.game {
    position: relative;
}

.game .pic {
    position: absolute;
    left: 10px;
    top: 10px;
}

.game .pic img {
    width: 50px
}

.game .titm {
    padding: 10px 0px 10px 70px;
    border-bottom: 1px solid #EAEAEA;
}

.game .titm .tit {
    font-size: 15px;
    color: #080808;
}

.game .titm .eva {
    font-size: 0px;
    color: gold;
}

.game .titm .con {
    font-size: 12px;
    color: slategrey;
}

.game .dow {
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 15px;
    border: 1px solid #EAEAEA;
    padding: 5px 10px;
    color: #080808;
    border-radius: 5px;
}